################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TwoNumberProj/TwoNumberProj/bin/Debug/netcoreapp3.1
/TwoNumberProj/TwoNumberProj/obj
